    h1{
        text-transform: uppercase;        
        letter-spacing: 3px;
        text-decoration: underline;
    }

    ul{
        list-style-position: inside;

    }

    p.signiture{
        margin-top: 25px;
        margin-left:;
        margin-right:60px;
        margin-bottom:;
        text-align: right;
        line-height: 1.5;
    }
    #mainContent {
        margin-top: 30px;
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 30px;
  		background-color: white;
  		text-align: center;
  		color: black;
  		font-family: Arial, Helvetica, sans-serif;
	}
	
    ul.li{


    }

    #computerScience{


    }

    .mainContentTextBlock {
        background-color: Azure ;
        margin-top:20px;
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 20px;
        padding-top: 20px;
        padding-right:;
        padding-bottom: 20px;
        line-height: 2.0;
    } 

    .name{
        font-weight: bold;

    }

    .email{


    }
	/*#header{
    background-color:tomato;
    padding-top: 0px;
    padding-right: 735px;
    padding-bottom: 50px;
    
    }
    
    #nav{
    width: 500px;
    line-height: 115px;
    background-color:Orange;
    padding-right: 759px;
    padding-bottom: 050px;
    }
    
	#section{
    width: 270px;
    line-height: 15px;
    background-color: DodgerBlue;
    padding-right: 270px;
    padding-bottom: 40px;
    }
	
    #article{
    width: 500px;
    display: inline; wrong does wrong thing
    background-color: MediumSeaGreen;
    padding-right: 415px;
    
    padding-bottom: 40px;
    }
    
	#footer{
    width: 500px;
    background-color: SlateBlue;
    line-height: 95px;
    /*padding-top: 60px;
    padding-right: 745px;
    padding-bottom: 40px;
    }
    */ 
