        h1{
        text-transform: uppercase;        
        letter-spacing: 3px;
    }

    ul{
        list-style-position: inside;

    }

    p.signiture{
        margin-top: 25px;
        margin-left:;
        margin-right:60px;
        margin-bottom:;
        text-align: right;
        line-height: 1.5;
    }
    #mainContent {
	background-color: #00bcd45c;
        margin: 30px;
        margin-left: 30%;
        margin-right: 30%;
  	text-align: center;
  	color: black;
  	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
	
    ul.li{
        line-height: 4.5;

    }

    #computerScience{


    }

    .mainContentTextBlock {
        background-color: Azure ;
        margin-top:20px;
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 20px;
        padding-top: 20px;
        padding-right:;
        padding-bottom: 20px;
        line-height: 2.0;
    } 

    .name{
        font-weight: bold;

    }

    .email{


    }
